body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
}
.items {
    display: flex;
    justify-content: space-around;
}
.item {
    width: 200px;
    margin: 20px;
    text-align: center;
}
img {
    width: 100%;
    height: auto;
}
